*.pth
training/*.pth
solu/training/*.pth
solu/training/cache
solu/training/wandb
solu/training/cache/
solu/training/wandb/
training/cache/
training/wandb/
*.pth
solu/training/__pycache__/*
**/__pycache__/*
wandb/
saved_models/
initialization/
test/
solu.egg-info/
notebooks/
solu/training/models--NeelNanda--SoLU/
solu.egg-info/*
solu.egg-info/PKG-INFO
solu.egg-info/SOURCES.txt
